Пару месяцев назад в России был принят закон «об автономном рунете». Закон предусматривает создание инфраструктуры, которая гарантирует работоспособность российского 
сегмента интернета в случае потери доступа к зарубежным серверам из-за поломок или намеренных действий извне.
Компания “Фотограмм” решила разработать фотосервис, который позволит людям регистрироваться в нем, загружать фотографии, модифицировать их и делиться ими с другими 
пользователями. Условия выполнения практического задания:
Разработайте техническое задание на разработку веб приложения. 
Ниже описаны некоторые нюансы логики взаимодействия:
 При создании фото название по умолчанию должно быть “Untitled”
 Все загруженные фотографии сохраняются с уникальным именем файла на сервер в папку “xxx-m2/photos”, где xxx - ваш логин
 Пользователь не может изменить, удалить и поделиться фотографией, если не является её владельцем.
 При поиске, пользователь не видит себя в списке.
Ниже описан функционал, который вам необходимо реализовать.
Регистрация – любой человек должен иметь возможность зарегистрироваться в сервисе. При регистрации необходимо указать следующие обязательные поля:
 Имя
 Фамилия
 Номер телефона
 Пароль
 Авторизация – для авторизации необходимо ввести номер телефона и пароль.
В случае неправильного заполнения данных в формах должны отображаться ошибки, которые вернул сервер.
Пользователь должен иметь возможность загрузить фотографию.
Редактирование фотографии – должна быть возможность изменить название для уже загруженной фотографии.
Удаление фотографий – пользователь должен иметь возможность удалить уже загруженную фотографию. Также должна быть возможность удалить группу фотографий, отметив их.
Пользователи должны иметь возможность поделиться своими фотографиями с другими людьми. Для этого нужно реализовать следующий функционал:
1. Выбор фотографий, которыми нужно поделиться.
2. Поиск пользователей по Имени, Фамилии и (или) номеру телефона.
3. Выбор пользователей из поиска, с кем пользователь хочет поделиться фотографиями.
Пользователи должны иметь возможность увидеть фотографии которыми он поделился с другими людьми. Для этого нужно реализовать следующий функционал:
1. Поиск пользователей по Имени, Фамилии и (или) номеру телефона.
2. Выбор одного пользователя из поиска.
3. Просмотр расшаренных ему фотографий. 
Разработанный сервис должен быть удобным для использования на разных устройствах. Не забывайте об использовании анимации и микро-анимации для улучшения впечатления.
Выполните тестирование разработанного веб приложения и разместите его согласно заданию на сервер. 
Выполните проверку веб приложения на sql инъекции и оптимизируйте его в соответствии с правилами SEO оптимизации.
Расходные материалы в расчете на одного кандидата:
Не предусмотрено
Оборудование, инвентарь в расчете на одного кандидата:
1. Персональный компьютер в выходом в сеть Интернет и с установленным программным обеспечением Adobe Photoshop или Gimp, Inscape, notepad++, sublime text 3, vs code, 
браузер Google Chrom, Web Browser - Firefox Developer Edition, open server, 
Нормативно-справочная документация: 
1. Zeal (css, html, php, js, jquery, jquery ui, mysql,yii2,laravel,python).
Вопросы, по которым разрешено консультирование кандидата:
1. Не предусмотрено

